body {
	background: black;
}
/* {
	border: 1px dashed red;
	min-height: 10px;
}*/
.postcard {
	background: white;
	width: 400px;
	height: 350px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 70px;
	height: 70px;
}
.postcard-header h1 {
	width: 500px;
	margin: none;
	font-family: Lucida Sans Unicode;
}
.postcard-body {
	display: flex;
}

.postcard-body p {
	font-family: Verdana;
}
.body-left p:first-child {
	margin-top: none;
}
.body-left,
.body-right {
	padding: 10px;
}
.body-right input {
	border: none;
	border-bottom: 1px solid grey;
	margin-top: 18px;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: darkolivegreen;
	padding: 10px;
	font-family: Lucida Sans;
}
